@charset "UTF-8";

.top-bar {
	background-color: #d0021b;
	color: white;
	padding: 5px 0;
	font-size: 14px;
}

.top-bar span {
	margin-left: 10px;
}

.navbar-light .navbar-nav .nav-link {
	color: #000;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #d0021b;
}

.navbar-brand img {
	height: 40px;
}

.nav-icon {
	font-size: 18px;
	color: #000;
	margin-right: 15px;
	position: relative;
}

.nav-icon:hover {
	color: #d0021b;
}

.nav-icon .badge {
	background-color: #ffc107;
	position: absolute;
	top: -5px;
	right: -10px;
}

.cart-item {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-item-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.cart-item-content img {
	width: 100px;
	height: auto;
}

.product-details {
	flex: 1;
	margin-left: 20px;
}

.product-name {
	font-size: 1.2rem;
	margin-bottom: 5px;
	font-weight: 500;
}

.product-price {
	color: red;
	font-size: 1.4rem;
	font-weight: bold;
}

.product-old-price {
	text-decoration: line-through;
	color: grey;
	font-size: 1rem;
	margin-left: 10px;
}

.quantity-controls {
	display: flex;
	align-items: center;
}

.quantity-controls input {
	width: 50px;
	text-align: center;
}

.btn-outline-secondary {
	width: 30px;
}

.delete-btn {
	cursor: pointer;
	font-size: 1.5rem;
	color: #666;
}

.delete-btn:hover {
	color: red;
}

/* Total and Payment section styling */
.total-payment {
	max-width: 1000px;
	margin: 0 auto;
	padding: 20px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Responsive Design for Mobile */
@media only screen and (max-width: 768px) {
	.cart-item {
		padding: 10px;
		/* Giảm padding trên màn hình nhỏ */
	}
	.cart-item-content {
		flex-direction: column;
		/* Đặt các thành phần theo chiều dọc trên màn hình nhỏ */
		align-items: flex-start;
	}
	.cart-item-content img {
		width: 80px;
		/* Giảm kích thước hình ảnh trên mobile */
	}
	.product-details {
		margin-left: 0;
		margin-top: 10px;
		text-align: left;
		/* Đặt lại text-align cho mobile */
	}
	.product-name {
		font-size: 1rem;
	}
	.product-price {
		font-size: 1.2rem;
	}
	.quantity-controls {
		margin-top: 10px;
	}
	.total-payment {
		flex-direction: column;
		align-items: flex-start;
	}
	.total-payment h5 {
		margin-bottom: 10px;
	}
	.total-payment button {
		width: 60%;
		margin-left: auto;
		margin-right: auto;
	}
}